.big-line{
    font-size: 20vh;
}

.small-paragraph{
    font-size : 2vh;
}

#app-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}